---
import Layout from "../layouts/Layout.astro";
import { projects } from "../data/projects";
import ProjectCard from "../components/ProjectCard.astro";
import Reviews from "../components/Reviews.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
---

<Layout title="Projects">
  <main class="mx-auto md:mt-16 relative z-10 bg-gray-50 text-gray-800">
    <section class="w-full container mx-auto px-4 sm:px-6 py-8">
      <Breadcrumb
        crumbs={[
          // { label: "Home", href: "/" },
          { label: "Projects", current: true },
        ]}
      />

      <h1 class="text-3xl font-bold tracking-tight pb-4">Projects</h1>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 py-8">
        {projects.map((project) => <ProjectCard {...project} />)}
      </div>

      <div id="reviews-section" class="mt-12"></div>
      <Reviews />
    </section>
  </main>
</Layout>
