---
// This is the main index page

import Layout from "../layouts/Layout.astro";
import HeroSlider from "../components/HeroSlider.astro";
import Why from "../components/Why.astro";
import OurServicesBody from "../components/OurServicesBody.astro";

import Reviews from "../components/Reviews.astro";
import timber20joinery from "../assets/images/timber20joinery.jpg";
import mouldingPlane from "../assets/images/moulding_plane.png";
import kitchenFitter from "../assets/images/kitchens/kitchen-fitter-domestic.jpg";

const slides = [
  {
    image: mouldingPlane,
    text: "Welcome to Coulsy Joinery and Building",
  },
  {
    image: kitchenFitter,
    text: "Fitted Kitchens, Refurbs & Small Builds Works",
  },
  {
    image: timber20joinery,
    text: "Bespoke Joinery, Skilled, Reliable Craftsmanship — Every Time",
  },
];
---

<Layout title="Home" transparentHeader={true}>
  <div class="relative z-10 mx-auto">
    <HeroSlider slides={slides} />
    <Why />

    <section class="w-full py-8 flex flex-col items-center">
      <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
        Services
      </h2>
      <p class="text-sm text-gray-600 italic mb-6">
        Here’s a selection of the kind of work I take on regularly:
      </p>
    </section>

    <OurServicesBody />
    <Reviews />
  </div>
</Layout>
