---
import Layout from "../layouts/Layout.astro";
import HeroSlider from "../components/HeroSlider.astro";
import Why from "./Why.astro";
import OurServicesDescription from "./OurServicesDescriptionCentreAligned.astro";
import OurServicesBody from "./OurServicesBody.astro";

import TimberJoineryImg1 from "../assets/images/moulding_plane.png";
import TimberJoineryImg2 from "../assets/images/Kitchen-Installers.jpg";
import TimberJoineryImg3 from "../assets/images/timber20joinery.jpg";

const slides = [
  {
    image: TimberJoineryImg1.src,
    text: "Welcome to Coulsy Joinery and Building",
  },
  {
    image: TimberJoineryImg2.src,
    text: "Bespoke Joinery, Refurbs & Small Builds Across Yorkshire",
  },
  {
    image: TimberJoineryImg3.src,
    text: "Skilled, Reliable Craftsmanship — Every Time",
  },
];
---

<Layout title="Coulsy carpentry and joinery">
  <main class="relative z-10 mx-auto md:mt-16">
    <HeroSlider slides={slides} />
    <Why />
    <OurServicesDescription />
    <OurServicesBody />
  </main>
</Layout>
