---
import { capitalizeFirstLetter } from "../utils/capitalizeFirstLetter";
import { getNearbyLocations } from "../utils/getNearbyLocations";

interface Props {
  location?: string;
}

const { location } = Astro.props;
// Set the max search radius (in miles) for nearby locations that i'm willing to travel for this service
const radius = 30;
const nearbyLocations = getNearbyLocations(location, radius);
---

<section class="w-full py-12 md:py-24 lg:py-30">
  <div class="px-4 md:px-6">
    <div
      class="flex flex-col items-center justify-center space-y-4 text-center"
    >
      <div class="space-y-2">
        <p
          class="max-w-[700px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
        >
          I install steel fire exit doors for clients
          {location ? ` near ${capitalizeFirstLetter(location)}` : ""}, whether
          you're in a village, town or city. Let me know where you're based —
          I’ll do my best to help.
        </p>
      </div>
    </div>

    <div
      class="mx-auto grid max-w-5xl grid-cols-1 gap-6 py-12 lg:grid-cols-4 sm:grid-cols-2 md:grid-cols-3 lg:gap-8 text-center"
    >
      {
        nearbyLocations.map(({ slug }) => (
          <a
            class="group rounded-lg bg-white p-3 shadow-sm border border-gray-200 transition hover:shadow-md hover:bg-yellow-50"
            href={`/joinery-services/${slug}-steel-fire-exit-doors-installers`}
          >
            <div class="text-base font-medium text-gray-800 group-hover:text-yellow-700">
              {capitalizeFirstLetter(slug)}
            </div>
          </a>
        ))
      }
    </div>

    <div class="text-center mt-8">
      <p class="text-gray-600">
        Don’t see your area? <a
          href="/contact"
          class="text-yellow-700 font-semibold underline hover:text-yellow-800"
          >Get in touch</a
        > — I might still be able to help.
      </p>
    </div>
  </div>
</section>
