---

---

<h1 class="text-3xl font-bold">Our Joinery Services</h1>
<h2 class="text-xl font-light mb-4 mt-4">
  Delivering to your needs and requirements.
</h2>
<h4 class="text-xl font-light mb-4 mt-1">
  At Coulsy Joinery, we deliver a comprehensive range of top-notch carpentry and
  joinery services including contracting and sub contracting solutions.
</h4>
<p class="text-md font-light mb-4 mt-1">
  Our services include annexe building, truss roofs, traditional cut roofs, stud
  wall partitioning, door and fire door installation, kitchen installing, custom
  joinery, bespoke refits, and complete project management, all tailored to meet
  your specific needs.
</p>
