---
import { Image } from "astro:assets";
import studWall from "../assets/images/stud-wall-new-build.jpeg";
import mouldingPlane from "../assets/images/moulding_plane.png";
import gardenOffice from "../assets/images/garden-offices/garden-office-image1.jpg";
import kitchenInstallers from "../assets/images/Kitchen-Installers.jpg";
import SubcontractImg from "../assets/images/sub-contract.jpg";
import rooftop from "../assets/images/rooftop.jpg";
import cutRoofHeader from "../assets/images/cut-roofs/cut-roof-header.jpg";
import doorHanging from "../assets/images/doors/fire-doors-sign.png";
import heritage from "../assets/images/heritage/oak-window-restoration.jpg";
import accessibleKitchen from "../assets/images/accessible-kitchens/accessible-kitchen-main.jpg";
import steelFireExit from "../assets/images/steel-exit-doors/Security-Fire-Exit-Door-510x510.jpg";
import herringboneFlooring from "../assets/images/bespoke-joinery/herringbone-flooring.jpg";

const services = [
  {
    title: "Bespoke Joinery",
    href: "/joinery-services/bespoke-joinery",
    image: mouldingPlane,
    alt: "Bespoke Joinery",
  },
  {
    title: "Heritage Joinery",
    href: "/joinery-services/heritage-restoration-joinery",
    image: heritage,
    alt: "Heritage Joinery",
  },
  {
    title: "Sub Contract Joinery",
    href: "/joinery-services/joinery-subcontractors",
    image: SubcontractImg,
    alt: "Sub contract Joinery",
  },
  {
    title: "Fitted Kitchens",
    href: "/joinery-services/kitchen-installers",
    image: kitchenInstallers,
    alt: "Fitted Kitchen and Installers York",
  },
  {
    title: "Accessible Kitchens",
    href: "/joinery-services/accessible-kitchen-installers",
    image: accessibleKitchen,
    alt: "Accessible kitchens York",
  },
  {
    title: "Doors",
    href: "/joinery-services/door-hanging",
    image: doorHanging,
    alt: "Door Hanging and installers",
  },
  {
    title: "Steel Fire Exit Doors",
    href: "/joinery-services/steel-fire-exit-doors-installers",
    image: steelFireExit,
    alt: "Steel fire exit and fire escape doors",
  },
  {
    title: "Truss Roofs",
    href: "/joinery-services/truss-roof-installers",
    image: rooftop,
    alt: "Truss and trussed roof installers",
  },
  {
    title: "Traditional Cut Roofs",
    href: "/joinery-services/traditional-cut-roofs",
    image: cutRoofHeader,
    alt: "Traditional Cut Roofs",
  },
  {
    title: "Stud Walls",
    href: "/joinery-services/stud-wall-partitioning",
    image: studWall,
    alt: "stud wall and partitioning installers in York",
  },
  {
    title: "Garden Offices and Rooms",
    href: "/joinery-services/garden-offices",
    image: gardenOffice,
    alt: "Garden Offices and Rooms York",
  },
  {
    title: "General Joinery",
    href: "/joinery-services/general-joinery",
    image: herringboneFlooring,
    alt: "General joinery services in York",
  },
];
---

<!-- <section class="w-full py-12 md:py-24 container mx-auto"> -->
<div
  class="grid gap-2 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 my-6 px-4 max-w-7xl mx-auto"
>
  {
    services.map((service) => (
      <a
        href={service.href}
        class="group p-2 rounded-3xl bg-white border-sm border-gray-100 bg-opacity-50 shadow-2xl shadow-gray-600/10"
      >
        <div class="relative overflow-hidden rounded-sm">
          <Image
            src={service.image}
            alt={service.alt}
            loading="lazy"
            width="1000"
            height="667"
            class="aspect-square w-full object-cover object-top transition duration-500 group-hover:scale-105"
          />
        </div>
        <div class="mt-6 relative">
          <h2 class="text-2xl font-semibold text-gray-800 text-center">
            {service.title}
          </h2>
        </div>
      </a>
    ))
  }
</div>
