<h3 class="font-semibold text-lg">What Others Say</h3>
<p class="text-sm text-gray-600 mt-2">
  If you’d like to read what others have said about working with me, feel free
  to <a
    href="/about#reviews-section"
    class="text-blue-700 font-semibold hover:underline">check out our reviews</a
  > on the About page.
</p>
