---
import mouldingPlane from "../assets/images/moulding_plane.png";
import Image from "astro/components/Image.astro";
const { location } = Astro.params;

function capitalizeFirstLetter(string: string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}
---

<section class="overflow-hidden sm:grid sm:grid-cols-2 py-12">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div
      class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right"
    >
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Why Coulsy Joinery?
      </h2>

      <p class="text-gray-500 mt-4 md:mt-4 md:block">
        Coulsy Ltd is a leading carpentry and joinery contractor located in
        York, providing services to clients throughout Yorkshire, Lancashire,
        and beyond.
      </p>

      <p class="text-gray-500 mt-4 md:mt-4 md:block">
        Our specialties include carpentry, joinery, annexes, commercial joinery
        contracting, refits, and refurbishments.
      </p>

      <p class="text-gray-500 mt-4 md:mt-4 md:block">
        Delivering exceptional Carpentry and joinery craftsmanship and dedicated
        service{location ? ` in  ${capitalizeFirstLetter(location)}` : null}.
      </p>
      <p class="text-gray-500 mt-4 md:mt-4 md:block">
        Our skilled team ensures every project is completed to the highest
        standards.
      </p>

      <p>
        <span class="text-red-600 font-semibold block mt-4 md:mt-4 md:block">
          At Coulsy Joinery, we are committed to making your vision a reality,
          executing your projects with precision and care.
        </span>
      </p>

      <p class="text-gray-500 mt-4 md:mt-4 md:block">
        Reach out to us today for any joinery or carpentry services you need{
          location ? ` in ${capitalizeFirstLetter(location)}` : null
        }.
      </p>

      <div class="mt-8">
        <a
          href="
          /contact"
          class="mt-4 bg-brand text-white rounded-sm text-lg p-4"
        >
          Contact Us
        </a>
      </div>
    </div>
  </div>
  <Image
    src={mouldingPlane}
    width="640"
    height="553"
    class="h-56 w-full object-cover sm:h-full"
    alt="Why coulsy joinery"
  />
</section>
