---
import mouldingPlane from "../assets/images/moulding_plane.png";
import Image from "astro/components/Image.astro";
import RobDebTeamImage from "../assets/images/team/Rob-and-Debbie-on-site.jpg";

const { location } = Astro.params;

function capitalizeFirstLetter(string: string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}
---

<section class="overflow-hidden flex flex-col lg:flex-row py-12 items-center justify-center">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div
      class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right"
    >
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Why Coulsy Joinery?
      </h2>

      <p class="text-gray-500 mt-4 md:mt-4 md:block">
        Coulsy Joinery & Small Build is your trusted partner for high-quality
        joinery, carpentry, and small build services, proudly based in York and
        serving clients across Yorkshire and beyond.
      </p>

      <p class="text-gray-500 mt-4 md:mt-4 md:block">
        We specialise in bespoke joinery, annexes, property refurbishments, and
        commercial contracting—tailored to suit your vision, space, and budget.
      </p>

      <p class="text-gray-500 mt-4 md:mt-4 md:block">
        Known for precision, reliability, and exceptional craftsmanship, our
        skilled team ensures every project is completed on time and to the
        highest standards.
      </p>

      <p class="text-gray-500 mt-4 md:mt-4 md:block">
        We collaborate with trusted trades and source premium materials from
        local suppliers to deliver lasting quality with minimal environmental
        impact.
      </p>

      <p>
        <span class="text-red-600 font-semibold block mt-4 md:mt-4 md:block">
          At Coulsy Joinery, we're committed to turning your ideas into
          beautifully finished results—executed with care, clarity, and
          attention to detail.
        </span>
      </p>

      <p class="text-gray-500 mt-4 md:mt-4 md:block">
        Contact us today for a free consultation or no-obligation quote{
          location ? ` in ${capitalizeFirstLetter(location)}` : null
        }.
      </p>

      <div class="mt-8">
        <a
          href="/contact"
          class="mt-4 bg-brand text-white rounded-sm text-lg p-4"
        >
          Contact Us
        </a>
      </div>
    </div>
  </div>
  <div class="p-4">
  <div class="group p-3 rounded-sm border border-gray-100 shadow-xl flex-grow-0">
    <div class="relative overflow-hidden rounded-sm">
      <Image
        src={RobDebTeamImage}
        width="640"
        height="553"
        class="h-56 w-full object-cover sm:h-full transition duration-500 group-hover:scale-105"
        alt="Team Robert and Debbie"
        loading="eager"
      />
    </div>
    <div class="mt-6 relative">
      <h2
        class="text-2xl font-semibold text-gray-800 text-center"
      >
        Team Robert and Debbie
      </h2>
      <h2
        class="text-1xl font-semibold text-gray-800 text-center mb-2"
      >
        <a
          class="inline-block h-auto w-full items-center rounded-sm p-1 transition-colors hover:text-brand"
          href="/about"
          >Learn more about us...
        </a>
      </h2>
    </div>
  </div>
  </div>
</section>
